quarkus.http.auth.basic=true

#%prod.quarkus.datasource.db-kind=postgresql
#%prod.quarkus.datasource.username=quarkus
#%prod.quarkus.datasource.password=quarkus
quarkus.datasource.username=postgres
quarkus.datasource.password=postgres
quarkus.datasource.jdbc.url=jdbc:postgresql://localhost:5432/postgres

quarkus.hibernate-orm.schema-management.strategy=update